* {
  background-color: #252637;
  color: #fff;
}

.nav-title {
  padding: 16px;
  background-color: #000;
  color: white;
  font-size: 24px;
}

.timers-div {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
}

.timer-card {
  padding: 21px 10px;
  width: 350px;
  border-radius: 28px;
  box-shadow: 6px 7px 0px 2px #09fb5f;
  
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  .game-text {
    padding-bottom: 20px;
    text-align: center;
    background-color: transparent;
    color: rgb(195, 195, 98);
  }

  .game-btn {
    background-color: #333;
    color: yellow;
    padding: 8px 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }
}

dialog::backdrop {
  background-color: #00000091;
}

dialog {
  border-radius: 20px;
  padding: 40px 20px;
  min-width: 30vw;
  box-shadow: 1px 0px 18px 3px #3c5287;

  .score-text {
    overflow: hidden;
    border-right: 12px solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .modal-btn-div {
    display: flex;
    justify-content: flex-end;
  }

  .modal-btn {
    margin-top: 20px;
    margin-left: auto;
    padding: 5px 20px;
    border: none;
    border-radius: 12px;
    background-color: yellow;
    color: #000;
    font-style: italic;
    font-weight: bold;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
